In [10]:
import pandas as pd
import math

In [4]:
df=pd.read_csv("202206-citbike-tripdata.csv")
df.head()

C:\Users\Aichou Diallo\AppData\Local\Temp\ipykernel_460\2547413944.py:1: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("202206-citbike-tripdata.csv")

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,FD85DE523427365B,classic_bike,2022-06-08 18:55:00,2022-06-08 18:58:13,E 149 St & Park Ave,7884.04,Morris Ave & E 153 St,7901.04,40.818154,-73.925294,40.820036,-73.921411,member
1,E1DF44B06B360036,classic_bike,2022-06-18 16:34:50,2022-06-18 16:47:49,E 115 St & Madison Ave,7599.02,W 148 St & Amsterdam Ave,8033.09,40.798983,-73.944716,40.827075,-73.945909,member
2,72B6DBF42BC1F9E1,classic_bike,2022-06-11 17:57:00,2022-06-11 18:07:33,E 115 St & Madison Ave,7599.02,2 Ave & E 99 St,7386.10,40.798944,-73.944846,40.786259,-73.945526,member
3,5FABA5CB97A6EA64,classic_bike,2022-06-23 17:32:04,2022-06-23 17:38:36,W Broadway & Spring St,5569.06,N Moore St & Hudson St,5470.02,40.724947,-74.001659,40.719961,-74.008443,member
4,EBA54764AA1A3A41,classic_bike,2022-06-30 16:17:43,2022-06-30 16:27:58,E 14 St & 1 Ave,5779.1,5 Ave & E 29 St,6248.06,40.731393,-73.982867,40.745168,-73.986831,member

In [5]:
df.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [16]:
df["started_at"]=pd.to_datetime(df["started_at"])
df["ended_at"]=pd.to_datetime(df["ended_at"])

In [17]:
df.dtypes

ride_id                       object
rideable_type                 object
started_at            datetime64[ns]
ended_at              datetime64[ns]
start_station_name            object
start_station_id              object
end_station_name              object
end_station_id                object
start_lat                    float64
start_lng                    float64
end_lat                      float64
end_lng                      float64
member_casual                 object
dtype: object

In [ ]:
df.to_csv("cleaned_data.csv",index=False)